target
.env
.idea/
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings/
.classpath
.project

war/WEB-INF/appengine-generated/
war/WEB-INF/classes/
war/WEB-INF/lib/

#Webstorm
*\.idea\*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
war/.idea/modules.xml
war/.idea/war.iml
war/.idea/workspace.xml